{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% load static %}
{% block style %}
<style>
    .teamstyle {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        color: black;
    }

    .landingimg {
        height: 100vh;
        width: 100vw;
        background: url("{%static 'Images/health.jpg'%}");
        background-repeat: no-repeat;
        background-position-y: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 4vw;
    }

    .loginform {
        display: none;
        justify-content: center;
        align-items: center;
    }

    .regform {
        display: none;
        justify-content: center;
        align-items: center;
    }

    #member1{
        background-image: url("{% static 'Images/lovekesh.jpeg'%}");
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
    }
    #member2{
        background-image: url("{% static 'Images/sanat.JPG'%}");
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
    }
    #member3{
        background-image: url("{% static 'Images/anmol.jfif'%}");
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
    }
    #member4{
        background-image: url("{% static 'Images/mrigesh.jpeg'%}");
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
    }
</style>
{% endblock style %}


{% block content %}
<div class="landingimg">
    <div style="height: 15vw;width: 40vw;font-size: 33px;color: rgb(35, 36, 35);font-weight: bolder;">
        Welcome to Denihilify
        We are here with the best Schedule ,Follow it and you'll feel the peace and happiness :)
    </div>
    <div>
        <button id="showreg" class="btn btn-outline-primary btn-lg col-3">Get Started</button>
    </div>
</div>


<div class="bg-light text-light d-flex flex-column justify-content-evenly align-items-center" style="height: 30rem;">
    <div class="teamstyle" style="padding-bottom: 20px;font-size: 40px;">
        Our Team
    </div>

    <div class="d-flex" style="width:200vw;overflow: hidden;">

        <div id="team1" class="d-flex justify-content-evenly"
            style="width: 100vw; position: relative;left: 50vw;transition: all 3s ease-in-out;">

            <div class="d-flex flex-column justify-content-evenly align-items-center"
                style="border-radius: 1rem;height: 25rem;width: 23rem;overflow: hidden;background-color: rgb(203, 202, 206);">
                <div id="member1" style="height: 10rem;width: 10rem;border-radius: 10vw;" class="bg-light">
                </div>
                <div class="teamstyle" style="color: black;">
                    Lovekesh Bansal
                </div>
                <div class="teamstyle" style="color: #dfe3f0;">
                    FullStack Developer
                </div>
            </div>

            <div class="d-flex flex-column justify-content-evenly align-items-center"
                style="border-radius: 1rem;height: 25rem;width: 23rem;overflow: hidden;background-color: rgb(203, 202, 206);">
                <div id="member2" style="height: 10rem;width: 10rem;border-radius: 10vw;" class="bg-light">
                </div>
                <div class="teamstyle">
                    Sanat Thakur
                </div>
                <div class="teamstyle" style="color: #dfe3f0;">
                    FrontEnd Developer
                </div>
            </div>
        </div>

        <div id="team2" class="d-flex justify-content-evenly"
            style="position: relative;right: -50vw;width: 100vw;transition: all 3s ease-in-out;">

            <div class="d-flex flex-column justify-content-evenly align-items-center"
                style="border-radius: 1rem;height: 25rem;width: 23rem;overflow: hidden;background-color: rgb(203, 202, 206);">
                <div id="member3" style="height: 10rem;width: 10rem;border-radius: 10vw;" class="bg-light">
                </div>
                <div class="teamstyle">
                    Anmol
                </div>
                <div class="teamstyle" style="color: #dfe3f0;">
                    BackEnd Developer
                </div>
            </div>

            <div class="d-flex flex-column justify-content-evenly align-items-center"
                style="border-radius: 1rem;height: 25rem;width: 23rem;overflow: hidden;background-color: rgb(203, 202, 206);">
                <div id="member4" style="height: 10rem;width: 10rem;border-radius: 10vw;" class="bg-light">
                </div>
                <div class="teamstyle">
                    Mrigesh Thakur
                </div>
                <div class="teamstyle" style="color: #dfe3f0;">
                    Digital Creator
                </div>
            </div>
        </div>

    </div>
</div>

<div id="login" class="loginform"
    style="height: 100vh;width: 99vw;background-color: rgba(0, 0, 0, .7);position: absolute;top: 0;">

    <div id="loginclear"
        style="transform: rotate(48deg);font-size: 5rem; position: absolute;top: -3rem;right: -.5rem;color: red;cursor: pointer;">
        +
    </div>

    <div style="height: 16rem;width: 40rem; background-color: white;border-radius: 1rem;">
        <form action="" method="POST">
            <div class="fs-2 text-center text-decoration-underline">Login Form</div>
            <div class="d-flex justify-content-evenly mt-4">
                <div class="fs-2">
                    {{loginform.username.label_tag}}
                </div>
                <div class="col-6">
                    {{loginform.username}}
                </div>
            </div>
            <div class="d-flex justify-content-evenly">
                <div class="fs-2">
                    {{loginform.password.label_tag}}
                </div>
                <div class="col-6">
                    {{loginform.password}}
                </div>
            </div>
            <div class="text-center">
                <input type="submit" id="logbtn" value="Login" class="btn btn-success col-8"
                    style="margin-left:7.3vw;margin-top:.5vw;font-size:1.3vw;">
            </div>
        </form>
    </div>

</div>




<div id="reg" class="regform"
    style="height: 100vh;width: 99vw;background-color: rgba(0, 0, 0, .7);position: absolute;top: 0;">

    <div id="regclear"
        style="transform: rotate(48deg);font-size: 5rem; position: absolute;top: -3rem;right: -.5rem;color: red;cursor: pointer;">
        +
    </div>

    <div style="height: 34rem;width: 40rem; background-color: white;border-radius: 1rem;">
        <div class="text-center fs-2 text-dark text-decoration-underline">SignUp Form</div>
        <div style="border: .2px solid black;margin: 1vw 1vw;"></div>
        <div>
            <form action="" method="POST" style="margin-left:2vw;margin-right:2vw;">
                {% csrf_token %}
                <div>{{regform.username.label_tag}}</div>
                {{regform.username}}
                <div class="d-flex justify-content-around" style="margin-top: .7vw;">
                    {{regform.first_name.label_tag}}
                    {{regform.last_name.label_tag}}
                </div>
                <div class="d-flex justify-content-around">
                    {{regform.first_name}}
                    {{regform.last_name}}
                </div>
                <div style="margin-top: .7vw;">{{regform.email.label_tag}}</div>
                {{regform.email}}
                <div style="margin-top: .7vw;">{{regform.password1.label_tag}}</div>
                {{regform.password1}}
                <div style="margin-top: .7vw;">{{regform.password2.label_tag}}</div>
                {{regform.password2}}
                <input type="submit" id="regbtn" value="Sign Up" class="btn btn-success col-8"
                    style="margin-left:7.3vw;margin-top:2vw;font-size:1.3vw;">
            </form>
            <div class="d-flex justify-content-center" style="margin-top:2rem;">
                <div>
                    Already have an account?
                </div>
                <div id="gotologin" class="text-primary mx-2" style="cursor: pointer;">
                    Login
                </div>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock content %}



{% block script %}
<script>

    function preventScroll() {
        window.onscroll = () => window.scroll(0, 0);
    }

    function Scroll() {
        window.onscroll = () => window.scroll();
    }

    var showreg = document.getElementById("showreg");
    var loginclear = document.getElementById("loginclear");
    var login = document.getElementById("login");   
    var gottologin = document.getElementById("gotologin");

    showreg.addEventListener('click', (e) => {
        preventScroll();
        reg.style.display = "flex";
    })

    gottologin.addEventListener('click',(e)=>{
        reg.style.display = "none";
        login.style.display = "flex";
    })

    regclear.addEventListener('click', (e) => {
        Scroll();
        reg.style.display = "none";
    })

    loginclear.addEventListener('click', (e) => {
        Scroll();
        login.style.display = "none";
    })

    window.addEventListener("scroll", (e) => {
        if (window.scrollY > 10) {
            document.getElementById("navbar").style.display = "flex"
        }
        else {
            document.getElementById("navbar").style.display = "none"
        }
    });


    var team1 = document.getElementById("team1")
    var team2 = document.getElementById("team2")

    function slideteam() {
        setInterval(() => {
            if (team1.style.left != "-50vw") {
                team1.style.left = "-50vw"
                team2.style.right = "50vw"
            }
            else {
                team1.style.left = "50vw"
                team2.style.right = "-50vw"
            }
        }, 5000);
    }
    slideteam()
</script>
{% endblock script %}